doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/application.' + appVersion + '.css')
    title
      block title
  body
    block content
    include ../includes/footer
    script(src='/application.' + appVersion + '.js')
